@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <form id="myform" action="/Home/SaveData/" method="post">
        <table class="table-bordered">
            <tr>
                <td>Name</td>
                <td><input type="text" name="EmpName" class="form-control" /></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" name="Email" class="form-control" /></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td><input type="text" name="Phone" class="form-control" /></td>
            </tr>
            <tr>
                <td>Experience</td>
                <td><input type="text" name="Experience" class="form-control" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="button" id="save" value="Save" class="btn btn-primary" /></td>
            </tr>
        </table>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email Address</th>
            <th>Phone</th>
            <th>Experience</th>
        </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
</table>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $('#save').click(function () {
        var form = $("#myform");
        var url = form.attr("action");
        var formData = form.serialize();
        $.post(url, formData, function (data) {
            var result = "";
            $.each(data, function (index, row) {
                result += '<tr>';
                result += '<td>' + row.EmpId + '</td>';
                result += '<td>' + row.EmpName + '</td>';
                result += '<td>' + row.Email + '</td>';
                result += '<td>' + row.Phone + '</td>';
                result += '<td>' + row.Experience + '</td>';
                result += '</tr>';
            });
            console.log(data);
            $("#tbody").append(result);
            console.log("end fun");
        });
    })
</script>